<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    <h1 _ngcontent-ymm-c98="" class="home-intro-title">Your complete Angular App Development kit</h1>
    <p _ngcontent-ymm-c98="" class="home-intro-text">Egret implements the official Angular Material Design components and built with Angular CLI. No Bootstrap!, No jQuery! and Only TypeScript!</p>
    <div _ngcontent-ymm-c98="" class="intro-product"><img  src="../../assets/real-estate-6688945_1280.jpg" alt=""></div>
    <div style="margin-top: 25%;">
    <app-carousel ></app-carousel>
</div>
</body>
</html>
